<!-- <template> -->
<div style="background-color: blue;">
  <form style="display:inline">
    <a target="_blank" href="https://es-es.facebook.com/"><img src="../assets/SocialMediaIcons/facebook.png" alt="facebookLink"/></a>
    <a target="_blank" href="https://aboutme.google.com/"><img src="../assets/SocialMediaIcons/googleplus.png" alt="GooglePlusLink"/></a>
    <a target="_blank" href="https://twitter.com/"><img src="../assets/SocialMediaIcons/twitter.png" alt="TwitterLink" /></a>
    <a target="_blank" href="https://www.instagram.com"><img src="../assets/SocialMediaIcons/instagram.png" alt="InstagramLink" /></a>
    <a target="_blank" href="https://www.pinterest.ca"><img src="../assets/SocialMediaIcons/pinterest.png" alt="PinterestLink" /></a>
    <a target="_blank" href="https://github.com/"><img src="../assets/SocialMediaIcons/github.png" alt="gitHubLink" /></a>
  </form>
</div>
<!-- </template> -->
